body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
  color:#f8b195;
}
p {
  color:#6c5b7b;
}
h1 {
  color:#f67280;
}
h3 {
  color:#355c7d;
}
div {
  background-color:#c06c84
=======
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
  background-color:#f8b195;
}
h1 {
  color:#355c7d;
}
h3 {
  color:#f67280;
}
p {
  color:#6c5b7b;
}
div {
  color:#c06c84;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}
