body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color:#f8b195;
}
p {
  color:#6c5b7b;
}
h1 {
  color:#f67280;
}
h3 {
  color:#355c7d;
}
div {
  background-color:#c06c84
}
