* {box-sizing: border-box;}
body {
  font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-size:110%;
  /*background-color:#9BC29B;*/
  color:#08240B;
}
/* Had to do this because placing "background-color"
    inside of body{} was not working */
.backgroundOfBody {
  background-color:#9BC29B;
}
.padder {
  padding:1.5em;
}
main {
  background-color:#CEEBCD;
}
hr {
  height: 1px;
  color:#9BC29B;
  background-color:#9BC29B;
  border: none;
}
h1 {
  font-weight:bolder;
  color:#08240B;
  text-align:center;
  font-size:220%;
  margin-top: 4.5em;
}
header{
  background-image:url("../images/Shrek-backdrop.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height:280px;
  background-color:#71BE66;
  border-bottom: 1em solid #9BC29B;
}
img {
  width:80%;
}
footer {
  background-color:#CEEBCD;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.image {
  padding:.4em;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
