* {
  box-sizing: border-box;
  font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
body {
  margin: 0;
  font-size:110%;
  background-color: #fff5d9;
  font-family: Arial, Helvetica, sans-serif;
  color: #21495c;
}

header {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 1em;
}
h1 {
  font-weight: bolder;
}
h2 {
  font-weight: bold;
}
hr {
  border-top: 1px solid #ffb254;
}
footer {
  text-align: center;
  background-color: #ffdb75;
  margin-bottom: 2em;
  border: 2px dotted #de7a00;
}
.birdpng {
  width: 80%;
}
.featuredbird {
  width:100%;
}
.productimg {
  width: 68%;
}
.birdinfo {
  width:90%;
}
.thickline {
  border-top: 2px dashed #de7a00;
}
.textcenter {
  text-align: center;
}

.topnav{
  width: 100%;
	border:1px solid #487787;
	border-width:1px 0;
	margin:0;
	padding:0;
	text-align: center;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: #a5fdff;
}
.topnav a{
	display:inline-block;
	padding:10px;
  color: #21495c;
  font-weight: bolder;
  letter-spacing: .1em;
  text-decoration:none;
}
.topnav a:hover{
	text-decoration: none;
  border-bottom: 3px solid #487787;
  background-color: #69c9e0;
}
